<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account</title>
  <style>
    .btn{
      background: #ccc;
      padding: 15px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      width: 15%;
      margin: 0 auto;
      transition: .5s;
      cursor: pointer;
    }

    .btn:hover{
      background: #26b4ec;
    }

  </style>
</head>
<body>
<form  method="get" role="form" th:action="@{/bank/payment/}" th:object="${card}">
  <h1>
    <p><strong>Account=</strong> <span th:text="${card.account}"></span></p>
  </h1>
</form>
<a type="submit" class="btn btn-primary" th:href="@{/bank}">Restart</a>
</body>
</html>