<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>

    input {
      border-radius: 20px;
      border: 2px solid #26b4ec;
      padding: 10px;
    }
    h1 {
      font-size: 60px;
      display: flex;
      align-items: center;
    }
  </style>
</head>
<body>
<form role="form" method="post" th:action="@{/mywork/bank/payment(id=${card.id})}" th:object="${card}">
  <div class="form-group">
    <h1>
      <label >Payment :</label>
      <input type="number"  name="pay" required>
    </h1>
  </div>
</form>
</body>
</html>